In [1]:
from pycaret.classification import *
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
info = pd.read_csv('data/snp_info.csv')

In [3]:
train.drop(['id', 'father', 'mother', 'gender'], axis = 1, inplace = True)

In [4]:
test.drop(['id', 'father', 'mother', 'gender'], axis = 1, inplace = True)

In [10]:
snp = train.columns[1:16]
snp_data = []

for col in snp :
    snp_data += list(train[col].values)

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
class_le = LabelEncoder()
snp_le = LabelEncoder()

In [13]:
train['class'] = class_le.fit_transform(train['class'])

In [16]:
snp_le.fit(snp_data)

LabelEncoder()

In [20]:
for col in train.columns[:16]:
    if col in snp:
        train[col] = snp_le.transform(train[col])
        test[col] = snp_le.transform(test[col])

In [23]:
reg = setup(train, target = 'class')

In [24]:
top3 = compare_models(n_select = 3)

In [25]:
tuned_top3 = [tune_model(i) for i in top3]

In [26]:
blend_top3 = blend_models(estimator_list = tuned_top3)

In [27]:
model = finalize_model(blend_top3)

In [28]:
pred = predict_model(model, data = test)

In [32]:
pred['Label']

0      0
1      1
2      2
3      1
4      0
      ..
170    1
171    2
172    2
173    1
174    1
Name: Label, Length: 175, dtype: int32

In [29]:
submit = pd.read_csv('data/sample_submission.csv')

In [33]:
submit['class'] = class_le.inverse_transform(pred['Label'])

In [34]:
submit

           id class
0    TEST_000     A
1    TEST_001     B
2    TEST_002     C
3    TEST_003     B
4    TEST_004     A
..        ...   ...
170  TEST_170     B
171  TEST_171     C
172  TEST_172     C
173  TEST_173     B
174  TEST_174     B

[175 rows x 2 columns]

In [35]:
submit.to_csv('data/submit/submit_pycaret.csv', index=False)